<app-nav></app-nav>
<div class="wm-mini-header">
  <span class="wm-blue-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wm-mini-title">
          <h1>Contact Us</h1>
        </div>
        <div class="wm-breadcrumb">
          <ul>
            <li><a href="index-2.html">Home</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wm-main-content">
  <div class="wm-main-section wm-contact-full wm-contact-full-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-contact-tab">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-target="#home" aria-controls="home" data-toggle="tab"
                  >Contact Us</a
                >
              </li>
              <li>
                <a
                  data-target="#profile"
                  aria-controls="profile"
                  data-toggle="tab"
                  >Information Details</a
                >
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-md-4">
                    <div class="wm-map"><div id="map"></div></div>
                  </div>
                  <div class="col-md-8">
                    <div class="wm-contact-form">
                      <span>Talk To Us Today</span>
                      <form>
                        <ul>
                          <li>
                            <i class="wmicon-black"></i>
                            <input
                              type="text"
                              value="Name"
                              onblur="if(this.value == '') { this.value ='Name'; }"
                              onfocus="if(this.value =='Name') { this.value = ''; }"
                            />
                          </li>
                          <li>
                            <i class="wmicon-symbol3"></i>
                            <input
                              type="text"
                              value="E-mail"
                              onblur="if(this.value == '') { this.value ='E-mail'; }"
                              onfocus="if(this.value =='E-mail') { this.value = ''; }"
                            />
                          </li>
                          <li>
                            <i class="wmicon-technology4"></i>
                            <input
                              type="text"
                              value="Phone"
                              onblur="if(this.value == '') { this.value ='Phone'; }"
                              onfocus="if(this.value =='Phone') { this.value = ''; }"
                            />
                          </li>
                          <li>
                            <i class="wmicon-web2"></i>
                            <textarea placeholder="Message"></textarea>
                          </li>
                          <li><input type="submit" value="Send Message" /></li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="wm-search-course">
                    <div class="gallery" style="display: inline-block">
                      <h3 class="wm-short-title wm-color">
                        <i class="wm-color wmicon-pin"></i> LOCATION
                      </h3>
                    </div>
                    <p style="font-size: 16px !important">
                      The proposed Al-Ansar University is occupying a 100
                      hectares of land located along KM 5, Gubio Road in
                      Maiduguri, Borno State. Borno State is located roughly
                      between latitudes 100 N and 14 No and longitudes 110 300 E
                      and 140 45'. Located in the North-Eastern corner of
                      Nigeria. Borno State occupies the greatest part of the
                      Chad Basin and shares borders with the Republic of Niger
                      to the North, Chad to the North-East and Cameroon to the
                      East. Within the country, its neighbours are Adamawa, to
                      the South, Yobe to the West and Gombe State to the
                      South-West.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="profile">
                <span class="wm-contact-title">Contact Info</span>
                <div class="wm-contact-service">
                  <ul class="row">
                    <li class="col-md-4">
                      <span class="wm-service-icon"
                        ><i class="wmicon-pin"></i
                      ></span>
                      <h5 class="wm-color">Address</h5>
                      <p>195 Cooks Mine Road Espanola, NM 87532</p>
                    </li>
                    <li class="col-md-4">
                      <span class="wm-service-icon"
                        ><i class="wmicon-phone"></i
                      ></span>
                      <h5 class="wm-color">Phone & Fax</h5>
                      <p>+1 505-753-5656 +1 505-753-4437</p>
                    </li>
                    <li class="col-md-4">
                      <span class="wm-service-icon"
                        ><i class="wmicon-letter"></i
                      ></span>
                      <h5 class="wm-color">E-mail</h5>
                      <p>
                        <a
                          href="http://webmarce.com/cdn-cgi/l/email-protection#046a656961446169656d682a676b69"
                          ><span
                            class="__cf_email__"
                            data-cfemail="7e371018113e0b1017081b0c0d170a07501d1113"
                            >[email&#160;protected]</span
                          ></a
                        >
                        <a
                          href="http://webmarce.com/cdn-cgi/l/email-protection#cea0afa3ab8eaba3afa7a2e0ada1a3"
                          ><span
                            class="__cf_email__"
                            data-cfemail="7b080e0b0b14090f3b0e15120d1e0908120f0255181416"
                            >[email&#160;protected]</span
                          ></a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
                <ul class="contact-social-icon">
                  <li>
                    <a href="#"
                      ><i class="wm-color wmicon-social5"></i> Facebook</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="wm-color wmicon-social4"></i> Twitter</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="wm-color wmicon-social3"></i> Linkedin</a
                    >
                  </li>
                  <li>
                    <a href="#"><i class="wm-color wmicon-vimeo"></i> Vimeo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="wm-footer" class="wm-footer-one">
  <div class="wm-footer-newslatter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form>
            <i class="wmicon-interface2"></i>
            <input
              type="text"
              value="Enter your e-mail address"
              onblur="if(this.value == '') { this.value ='Enter your e-mail address'; }"
              onfocus="if(this.value =='Enter your e-mail address') { this.value = ''; }"
            />
            <input type="submit" value="Subscribe to our newsletter" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-footer-widget">
    <div class="container">
      <div class="row">
        <aside class="widget widget_contact_info col-md-3">
          <a
            href="index-2.html"
            class="wm-logo"
            style="
              font-family: 'Charmon', Arial, Helvetica, sans-serif;
              font-size: 35px;
            "
            >AlAnsar University</a
          >

          <ul>
            <li><i class="wm-color wmicon-pin"></i> Maiduguri</li>
            <li>
              <i class="wm-color wmicon-phone"></i> +1 505-753-5656 <br />
              +1 505-753-4437
            </li>
            <li>
              <i class="wm-color wmicon-letter"></i>
              <a
                href="http://webmarce.com/cdn-cgi/l/email-protection#a7c9c6cac2e7c2cac6cecb89c4c8ca"
                ><span
                  class="__cf_email__"
                  data-cfemail="82ebece4edc2f7ecebf4e7f0f1ebf6fbace1edef"
                  >[email&#160;protected]</span
                ></a
              >
              <a
                href="http://webmarce.com/cdn-cgi/l/email-protection#244a454941644149454d480a474b49"
                ><span
                  class="__cf_email__"
                  data-cfemail="d9aaaca9a9b6abad99acb7b0afbcabaab0ada0f7bab6b4"
                  >[email&#160;protected]</span
                ></a
              >
            </li>
          </ul>
          <div class="wm-footer-icons">
            <a href="#" class="wmicon-social5"></a>
            <a href="#" class="wmicon-social4"></a>
            <a href="#" class="wmicon-social3"></a>
            <a href="#" class="wmicon-vimeo"></a>
          </div>
        </aside>
        <aside class="widget widget_archive col-md-2">
          <div class="wm-footer-widget-title"><h5>Quick Links</h5></div>
          <ul>
            <li><a href="#">Our Latest Events</a></li>
            <li><a href="#">Our Courses</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">404 Page</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">All Instructors</a></li>
          </ul>
        </aside>
        <aside class="widget widget_twitter col-md-4">
          <div class="wm-footer-widget-title">
            <h5><i class="wmicon-social2"></i> @enrollcampus</h5>
          </div>
          <ul>
            <li>
              <p>
                Check Youniverse - Multipurpose PSD Template @ThemeForest:
                <a href="#">pic.twitter.com/xcVlqJySjq</a>
              </p>
              <time datetime="2008-02-14 20:00" class="wm-color"
                >2 hrs ago</time
              >
            </li>
            <li>
              <p>
                Check out my New PSD: FashionPlus - Fashion eCommerce:
                <a href="#">pic.twitter.com/xc445Ghyt</a>
              </p>
              <time datetime="2008-02-14 20:00" class="wm-color"
                >4 hrs ago</time
              >
            </li>
            <li>
              <p>
                MedicAid - Medical Template @ThemeForest:
                <a href="#">pic.twitter.com/xcVlq542wfER</a>
              </p>
              <time datetime="2008-02-14 20:00" class="wm-color"
                >1 day ago</time
              >
            </li>
          </ul>
        </aside>
        <aside class="widget widget_gallery col-md-3">
          <div class="wm-footer-widget-title"><h5>Our Instructors</h5></div>
          <ul class="gallery">
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-1.jpg"
                ><img src="assets/extra-images/widget-gallery-1.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-2.jpg"
                ><img src="assets/extra-images/widget-gallery-2.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-3.jpg"
                ><img src="assets/extra-images/widget-gallery-3.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-4.jpg"
                ><img src="assets/extra-images/widget-gallery-4.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-5.jpg"
                ><img src="assets/extra-images/widget-gallery-5.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-6.jpg"
                ><img src="assets/extra-images/widget-gallery-6.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-7.jpg"
                ><img src="assets/extra-images/widget-gallery-7.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-8.jpg"
                ><img src="assets/extra-images/widget-gallery-8.jpg" alt=""
              /></a>
            </li>
            <li>
              <a
                title=""
                data-rel="prettyPhoto[gallery1]"
                href="assets/extra-images/widget-galleryfull-9.jpg"
                ><img src="assets/extra-images/widget-gallery-9.jpg" alt=""
              /></a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>

  <div class="wm-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span
            ><i class="wmicon-nature"></i> Barcelona, Spain 2°F / -17°C</span
          >
        </div>
        <div class="col-md-6">
          <p>
            © 2016, All Right Reserved - by
            <a href="index-2.html" class="wm-color">WebMarce</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
