<app-nav></app-nav>

<div class="wm-mini-header">
  <span class="wm-blue-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wm-mini-title">
          <h1>About Us</h1>
        </div>
        <div class="wm-breadcrumb">
          <ul>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wm-main-content">
  <div class="wm-main-section wm-whychooseus-full wm-minus-spacer">
    <div class="container">
      <h2 class="text-center">
        Welcome to AlAnsar University<br />
        Maiduguri
      </h2>
      <div class="mt-4">
        <div class="col-md-12">
          <div class="wm-search-course">
            <div class="gallery" style="display: inline-block">
              <img src="assets/extra-images/widget-gallery-1.jpg" alt="" />
              <h3 class="wm-short-title wm-color">
                Meet Our Founder & President
              </h3>
            </div>
            <p style="font-size: 16px !important">
              Meet Our Founder & President The exceptional Philanthropist Dr.
              Dikwa is one of the leading experts in the Public Financial
              Management (PFM) Reforms in the Nigerian Public Service. He has
              Doctorate Degree in Accounting and Finance, Master Degree in
              Finance and Bachelor of Science Degree in Accountancy. He had
              attended the Senior Executive Course 34, 2012 at the National
              Institute for Policy and Strategic Studies, (NIPSS) Kuru. He was
              awarded Certificates in Public Financial Management Reforms,
              Leadership & Governance Programme, High Performance Leadership
              Programme and Treasury Management at the Harvard University, USA,
              University of Cambridge, Oxford University UK and Thames Valley
              University UK respectively. He was also awarded Certificate in
              Advance Corporate Finance from the Business School for the World
              (INSEAD- FONTAINEBLEAU, FRANCE). Dr. Dikwa is a chartered
              Accountant and member of many Professional Bodies. Dr. Dikwa is a
              Fellow, Certified National Accountant, Associate Institute of
              Chartered Accountant of Nigeria, Fellow Chartered Institute of
              Taxation of Nigeria, among others. Dr. Dikwa has facilitated and
              attended many Courses, and authored and edited series of
              Publications to his Credit. Dr. Dikwa has been a season examiner
              for the Annual Federal Civil Service Promotion Evaluation
              Examinations for years. Amongst his notable achievements in the
              Federal Service include direct involvement in the
              Conceptualization and Implementation of some PFM Reforms such as
              Government Integrated Financial Management Information System
              (GIFMIS), Integrated Personnel and Payroll Information System
              (IPPIS), Treasury Single Account (TSA), International Public
              Sector Accounting Standards (IPSAS), Presidential Initiative on
              Continuous Audit (PICA), Asset Tracing Team (ATT), Whistleblowing
              Policy, Fiscal Sustainability Plan (FSP) and Strategic Revenue
              Growth Initiative (SRGI). Dr. Dikwa has served as the Borno State
              Accountant-General and permanent secretary finance 1999 – 2004.
              Dr. Dikwa was the former Chairman Technical Board, Bank of
              Industries (BOI) and Bank of Agriculture (BOA). He has served on
              Board of Transcorp Hilton, Defence Industry Corporation,
              Transmission Company of Nigeria, Distribution Company of Nigeria
              (DISCO), Royal Swaziland Sugar Company etc. Dr. Dikwa was the
              Director in-charge of Ministry of Finance Incorporated (MOFI)
              later Revenue and Investment Department and Director of Funds both
              under the Office of the Accountant General of the Federation. Dr.
              Dikwa acted on various occasions as the Accountant-General of the
              Federation including the last Acting - Appointment by the
              President, Muhammadu Buhari, GCFR, on the 12th June, 2015. Dr.
              Dikwa was the Director, Special Projects and Secretary,
              Presidential Initiative on Continuous Audit (PICA) under the
              Office of the Honourable Minister of Finance, until his
              appointment as Permanent Secretary in the Federal Civil Service.
              Dr. Dikwa has traversed many countries across the globe and is
              happily married with children and gr and children.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wm-main-section whowe-are-full">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <figure class="wm-figure-thumb">
            <img src="assets/images/history.svg" alt="" />
          </figure>
        </div>
        <div class="col-md-9 wm-editore-text">
          <h2 class="wm-left-border wm-color">BRIEF HISTORY</h2>
          <p>
            After a decade of protracted conflict that has destroyed economic,
            social and normal life in Borno State due to the insurgency that
            took its foot in the North-East region of the country, the current
            Governor of Borno State, His Excellency Professor Babagana Umara
            Zulum, mni in 2019 came into the herm of affairs in the State. Part
            of his transformation agendas was to encourage individual and
            organizations to invest massively in the State especially in the
            areas of infrastructure development and education. Al-Ansar
            Foundation, a non-governmental organization that has been operating
            in the State decided to respond to this invitation by the State
            Government through the establishment of the proposed Al-Ansar
            University Maiduguri, a first private University with the aim of
            saving foreign exchange by providing alternative quality education
            in North-East geo-political zone. Having defined a strong foundation
            for the establishment of the proposed Al-Ansar University, the
            promoter and influencer of the University; Dr. M. K. Dikwa, mni
            constituted a Planning and Implementation Committee (PIC) to
            supervise the processes for its establishment. The PIC was charged
            with the responsibility of interacting with the National
            Universities Commission (NUC) on matter relating to the licensing of
            the proposed University. The PIC was also charged with the
            responsibility of ensuring that the facilities provided for the
            take-off of the proposed University are adequate and in line with
            standard by the NUC. In recognition of the importance of the project
            to the State, the Executive Governor allocated 100 hectares of land
            to the Al-Ansar Foundation to build the permanent site of the
            University. Furthermore, on 4th January 2021, His Excellency,
            Professor Babagana Umara Zulum performed the grant breaking ceremony
            of the proposed Al-Ansar University paving way for construction and
            development of critical infrastructure for the take-off of the
            University. Consequently, the State government has also granted
            approval to the Foundation to use “BEWAC” as temporary site to
            enable the University to commence full academic activities in record
            time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="wm-main-section whowe-are-full">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <figure class="wm-figure-thumb">
            <img src="assets/images/vision.svg" alt="" />
          </figure>
        </div>
        <div class="col-md-9 wm-editore-text">
          <h2 class="wm-left-border wm-color">OUR VISION</h2>
          <p>
            The vision of the proposed AI-Ansar University is “to be a
            world-class academic institution where faith, innovation and service
            are nurtured for the advancement of human development".
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="wm-main-section whowe-are-full">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <figure class="wm-figure-thumb">
            <img src="assets/images/mission.svg" alt="" />
          </figure>
        </div>
        <div class="col-md-9 wm-editore-text">
          <h2 class="wm-left-border wm-color">MISSION</h2>
          <p>
            The mission of the proposed AI-Ansar University is 'to be a beacon
            of knowledge and transformative learning seeking to advance
            professionalism, build a diverse and socially inclusive society, and
            be a powerhouse for human capital development. The mission of the
            proposed University is a demonstration of its goal to produce hard
            working men and women, who shall endure in their goal to develop and
            offer service to the Nigerian nation and the world at large.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-section whowe-are-full">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <figure class="wm-figure-thumb">
            <img src="assets/images/objective.svg" alt="" />
          </figure>
        </div>
        <div class="col-md-6 wm-editore-text">
          <h2 class="wm-left-border wm-color">OBJECTIVES</h2>
          <p>
            The law establishing the proposed AI-Ansar University has outlined
            its objectives aimed at meeting its vision and mission. The
            objectives of the proposed AI-Ansar University are to:
          </p>
          <ul>
            <li>
              <i class="wmicon-mark"></i> encourage the advancement of learning
              and to hold out to all persons without distinction of race, creed,
              sex or political conviction, the opportunity of acquiring a higher
              and liberal education;
            </li>
            <li>
              <i class="wmicon-mark"></i> provide sources of instruction and
              other facilities for the pursuit of learning in all its branches,
              and to make those facilities available on proper terms to such
              persons as are equipped to benefit from them;
            </li>
            <li>
              <i class="wmicon-mark"></i> encourage and promote scholarship and
              conduct research in all fields of learning and human endeavour;
            </li>
            <li>
              <i class="wmicon-mark"></i>evolve academic programmes to suit the
              changing social and economic needs of society through continuous
              review of curricular and developments of new programmes through
              programme structural flexibility to respond to societal and
              technological changes;
            </li>
            <li>
              <i class="wmicon-mark"></i>create and expand access, and
              opportunities for education, attract and retain quality students,
              researchers, and teachers, thereby assisting in developing human
              capital and mitigating the brain drain currently afflicting
              Nigeria;
            </li>
            <li>
              <i class="wmicon-mark"></i> produce internationally acceptable
              graduates that could compete favourably with their peers anywhere
              in the world;
            </li>
            <li>
              <i class="wmicon-mark"></i> carry out basic and applied research
              leading to the domestication and application of new technology to
              the Nigerian context through collaborative linkages with other
              academic and research institutions in Africa and the rest of the
              world;
            </li>
            <li>
              <i class="wmicon-mark"></i> establish a centre for entrepreneurial
              studies to stimulate job creation and innovative abilities in
              students from onset of their studies, in such a way that graduates
              shall be resourceful self-reliant and job creators; and
            </li>
            <li>
              <i class="wmicon-mark"></i> undertake activities appropriate for
              teaching, research and community service as expected of a
              University of high standard.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-section wm-parallexthree-full">
    <span class="wm-light-transparent wm-more-light-blue"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-parallex wm-parallex-three">
            <h2>AlAnsar University is the Best</h2>
            <span>We promise you won’t be dissapointed!</span>
            <a class="wm-transparent-button" href="#"
              ><span>Enroll Today</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-section">
    <div class="container-fluid">
      <div class="row">
        <div class="wm-apply-info wm-apply-info-color">
          <ul>
            <li class="col-md-4">
              <i class="wmicon-editing"></i>
              <div class="wm-right-section">
                <h2>Apply Today to AlAnsar</h2>
                <p>Fill out the application in order to apply today.</p>
                <a href="#" class="applyinfo-btn">apply now</a>
              </div>
            </li>
            <li class="col-md-4">
              <i class="wmicon-telephone"></i>
              <div class="wm-right-section">
                <h2>Info Admission Inquiries</h2>
                <p>Weekday AM 10:00 ~ PM 05:00</p>
                <h3>+1 419-739-6043</h3>
              </div>
            </li>
            <li class="col-md-4">
              <i class="wmicon-people2"></i>
              <div class="wm-right-section">
                <h2>AlAnsar Talk Open Chat</h2>
                <p>We’re here for you in anything you need</p>
                <a href="#" class="applyinfo-btn">start chat</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-section wm-studentslove-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-fancy-title">
            <h2>Why Students <span>Love Us</span></h2>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/images/feedback.svg" alt="" />
        </div>
        <div class="col-md-6">
          <div class="wm-recent-list-slider wm-recent-list-slider-color">
            <div class="wm-recent-list-layer">
              <figure>
                <a href="#"
                  ><img
                    src="assets/assets/extra-images/recent-list-1.jpg"
                    alt=""
                /></a>
              </figure>
              <div class="wm-recent-list-text">
                <p>
                  “Studying at you guys brought an added value to my
                  professional life. The courses were very interesting and the
                  professors were.”
                </p>
                <a href="#" class="wm-color-three">-Shelly A. Nunez</a>
              </div>
            </div>
            <div class="wm-recent-list-layer">
              <figure>
                <a href="#"
                  ><img
                    src="assets/assets/extra-images/recent-list-2.jpg"
                    alt=""
                /></a>
              </figure>
              <div class="wm-recent-list-text">
                <p>
                  “Enroll is very unique in terms of the social academic
                  environment.”
                </p>
                <a href="#" class="wm-color-three">-Joseph R. Spence</a>
              </div>
            </div>
            <div class="wm-recent-list-layer">
              <figure>
                <a href="#"
                  ><img
                    src="assets/assets/extra-images/recent-list-3.jpg"
                    alt=""
                /></a>
              </figure>
              <div class="wm-recent-list-text">
                <p>
                  “ The knowledge acquired in several courses could readily be
                  used in my new job responsibilities”
                </p>
                <a href="#" class="wm-color-three">-Pamela M. Blevins</a>
              </div>
            </div>
            <div class="wm-recent-list-layer">
              <figure>
                <a href="#"
                  ><img
                    src="assets/assets/extra-images/recent-list-2.jpg"
                    alt=""
                /></a>
              </figure>
              <div class="wm-recent-list-text">
                <p>
                  “Enroll is very unique in terms of the social academic
                  environment.”
                </p>
                <a href="#" class="wm-color-three">-Joseph R. Spence</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-section our-professors-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-fancy-title">
            <h2>Our <span>Professors</span></h2>
          </div>
          <div class="wm-our-professors">
            <ul class="row">
              <li class="col-md-4 wordpress">
                <figure>
                  <a href="#"
                    ><img src="assets/extra-images/our-professors-1.jpg" alt=""
                  /></a>
                  <figcaption>
                    <a href="#">Read More</a>
                  </figcaption>
                </figure>
                <div class="wm-team-info">
                  <h5><a href="#">Chester J. Graham</a></h5>
                  <div class="wm-icon">
                    <a class="wmicon-social5" href="#"></a>
                    <a class="wmicon-social4" href="#"></a>
                    <a class="wmicon-logo" href="#"></a>
                  </div>
                  <span>Law DEPARTMENT</span>
                </div>
              </li>
              <li class="col-md-4 jquery">
                <figure>
                  <a href="#"
                    ><img src="assets/extra-images/our-professors-2.jpg" alt=""
                  /></a>
                  <figcaption>
                    <a href="#">Read More</a>
                  </figcaption>
                </figure>
                <div class="wm-team-info">
                  <h5><a href="#">Sophie R. Ray</a></h5>
                  <div class="wm-icon">
                    <a class="wmicon-social5" href="#"></a>
                    <a class="wmicon-social4" href="#"></a>
                    <a class="wmicon-logo" href="#"></a>
                  </div>
                  <span>drama DEPARTMENT</span>
                </div>
              </li>
              <li class="col-md-4 php">
                <figure>
                  <a href="#"
                    ><img src="assets/extra-images/our-professors-3.jpg" alt=""
                  /></a>
                  <figcaption>
                    <a href="#">Read More</a>
                  </figcaption>
                </figure>
                <div class="wm-team-info">
                  <h5><a href="#">Jeremy E. Orem</a></h5>
                  <div class="wm-icon">
                    <a class="wmicon-social5" href="#"></a>
                    <a class="wmicon-social4" href="#"></a>
                    <a class="wmicon-logo" href="#"></a>
                  </div>
                  <span>arts DEPARTMENT</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="clearfix"></div>

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="wm-modallogin-form wm-login-popup">
          <span class="wm-color">Login to Your Account</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Your Username"
                  onblur="if(this.value == '') { this.value ='Your Username'; }"
                  onfocus="if(this.value =='Your Username') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="password"
                  value="password"
                  onblur="if(this.value == '') { this.value ='password'; }"
                  onfocus="if(this.value =='password') { this.value = ''; }"
                />
              </li>
              <li><a href="#" class="wm-forgot-btn">Forgot Password?</a></li>
              <li><input type="submit" value="Sign In" /></li>
            </ul>
          </form>
          <span class="wm-color">or try our socials</span>
          <ul class="wm-login-social-media">
            <li>
              <a href="#"><i class="wmicon-social5"></i> Facebook</a>
            </li>
            <li class="wm-twitter-color">
              <a href="#"><i class="wmicon-social4"></i> twitter</a>
            </li>
            <li class="wm-googleplus-color">
              <a href="#"><i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
          </ul>
          <p>Not a member yet? <a href="#">Sign-up Now!</a></p>
        </div>
        <div class="wm-modallogin-form wm-register-popup">
          <span class="wm-color">create Your Account today</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Your Username"
                  onblur="if(this.value == '') { this.value ='Your Username'; }"
                  onfocus="if(this.value =='Your Username') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="text"
                  value="Your E-mail"
                  onblur="if(this.value == '') { this.value ='Your E-mail'; }"
                  onfocus="if(this.value =='Your E-mail') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="password"
                  value="password"
                  onblur="if(this.value == '') { this.value ='password'; }"
                  onfocus="if(this.value =='password') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="text"
                  value="Confirm Password"
                  onblur="if(this.value == '') { this.value ='Confirm Password'; }"
                  onfocus="if(this.value =='Confirm Password') { this.value = ''; }"
                />
              </li>
              <li><input type="submit" value="Create Account" /></li>
            </ul>
          </form>
          <span class="wm-color">or signup with your socials:</span>
          <ul class="wm-login-social-media">
            <li>
              <a href="#"><i class="wmicon-social5"></i> Facebook</a>
            </li>
            <li class="wm-twitter-color">
              <a href="#"><i class="wmicon-social4"></i> twitter</a>
            </li>
            <li class="wm-googleplus-color">
              <a href="#"><i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
          </ul>
          <p>Already a member? <a href="#">Sign-in Here!</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="modal fade" id="ModalSearch" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="wm-modallogin-form">
          <span class="wm-color">Search Your KeyWord</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Keywords..."
                  onblur="if(this.value == '') { this.value ='Keywords...'; }"
                  onfocus="if(this.value =='Keywords...') { this.value = ''; }"
                />
              </li>
              <li><input type="submit" value="Search" /></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
