<header id="wm-header" class="wm-header-one">
  <div class="wm-topstrip">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-language">
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="#">español</a></li>
            </ul>
          </div>
          <ul class="wm-stripinfo">
            <li><i class="wmicon-location"></i> Maiduguri</li>
            <li><i class="wmicon-technology4"></i> +1 984-700-7129</li>
            <li><i class="wmicon-clock2"></i> Mon - fri: 7:00am - 6:00pm</li>
          </ul>
          <ul class="wm-adminuser-section">
            <li>
              <a href="" data-toggle="modal" data-target="#ModalLogin">login</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a
                href="#"
                class="wm-search-btn"
                data-toggle="modal"
                data-target="#ModalSearch"
                ><i class="wmicon-search"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a
            href="/home"
            class="wm-logo"
            style="
              font-family: 'Charmon', Arial, Helvetica, sans-serif;
              font-size: 35px;
            "
            >AlAnsar University</a
          >
        </div>
        <div class="col-md-9">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar-collapse-1"
                aria-expanded="true"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="/courses">courses</a>
                </li>
                <li>
                  <a href="/events">event</a>
                </li>
                <!-- <li>
                  <a href="#">Dashboard</a>
                  <ul class="wm-dropdown-menu">
                    <li><a href="dashboard-courses.html">Courses</a></li>
                    <li>
                      <a href="student-dashboard-favourite.html">Favourite</a>
                    </li>
                    <li>
                      <a href="student-dashboard-my-courses.html">My Courses</a>
                    </li>
                    <li>
                      <a href="student-dashboard-profile.html"
                        >Profile Settings</a
                      >
                    </li>
                    <li>
                      <a href="student-dashboard-settings.html">Settings</a>
                    </li>
                    <li>
                      <a href="student-dashboard-statement.html">Statement</a>
                    </li>
                  </ul>
                </li> -->
                <!-- <li class="wm-megamenu-li">
                  <a href="#">Pages</a>
                  <ul class="wm-megamenu">
                    <li class="row">
                      <div class="col-md-2">
                        <h4>Link 1</h4>
                        <ul class="wm-megalist">
                          <li><a href="404-page.html">404 Error Page</a></li>
                          <li><a href="about-us.html">About Us</a></li>
                          <li><a href="blog-grid.html">Blog Grid</a></li>
                          <li><a href="blog-list.html">Blog List</a></li>
                          <li><a href="blog-detail.html">Blog Detail</a></li>
                          <li><a href="faq-page.html">Faq Page</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <h4>Link 2</h4>
                        <ul class="wm-megalist">
                          <li>
                            <a href="ourprofessors.html">Our Professors</a>
                          </li>
                          <li>
                            <a href="our-professsors-detail.html"
                              >Our Professsors Detail</a
                            >
                          </li>
                          <li>
                            <a href="typography-elements.html"
                              >Typography Elements</a
                            >
                          </li>
                          <li><a href="courses-list.html">Courses List</a></li>
                          <li><a href="courses-grid.html">Courses Grid</a></li>
                          <li><a href="gallery.html">Gallery</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <h4>Link 3</h4>
                        <ul class="wm-megalist">
                          <li>
                            <a href="courses-detail.html">Courses Detail</a>
                          </li>
                          <li><a href="shop-list.html">Shop List</a></li>
                          <li><a href="shop-grid.html">Shop Grid</a></li>
                          <li>
                            <a href="shop-single-product.html">Shop Detail</a>
                          </li>
                          <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <a href="#" class="wm-thumbnail">
                          <img
                            src="assets/extra-images/megamenu-frame.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                    </li>
                  </ul>
                </li> -->
                <!-- <li>
                  <a href="contact-us.html">Shop</a>
                  <ul class="wm-dropdown-menu">
                    <li><a href="shop-grid.html">Shop Grid</a></li>
                    <li><a href="shop-list.html">Shop List</a></li>
                    <li><a href="shop-single-product.html">Shop Detail</a></li>
                  </ul>
                </li> -->
                <li>
                  <a href="/about-us">About Us</a>
                </li>
                <li class="wm-megamenu-li">
                  <a href="/contact">Contact</a>
                  <!-- <ul class="wm-megamenu">
                    <li class="row">
                      <div class="col-md-2">
                        <h4>Links 1</h4>
                        <ul class="wm-megalist">
                          <li><a href="contact-us.html">Contact Us</a></li>
                          <li><a href="404-page.html">404 Error Page</a></li>
                          <li><a href="shop-list.html">Shop List</a></li>
                          <li><a href="shop-grid.html">Shop Grid</a></li>
                          <li>
                            <a href="shop-single-product.html">Shop Detail</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <h4>Artists text</h4>
                        <div class="wm-mega-text">
                          <p>
                            Your work is going to fill a large part of your
                            life, and the only way to be truly satisfied is to
                            do what you believe is great work. And the only way
                            to do great work is to love.
                          </p>
                          <p>
                            If you haven't found it yet, keep looking. Don't
                            settle. As with all matters of the heart, you'll
                            know when you find it.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <h4>sub category widget</h4>
                        <a href="#" class="wm-thumbnail">
                          <img
                            src="assets/extra-images/mega-menuadd.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                    </li>
                  </ul> -->
                </li>
              </ul>
            </div>
          </nav>

          <a href="#" class="wm-header-btn">get started</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="wm-modallogin-form wm-login-popup">
          <span class="wm-color">Login to Your Account</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Your Username"
                  onblur="if(this.value == '') { this.value ='Your Username'; }"
                  onfocus="if(this.value =='Your Username') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="password"
                  value="password"
                  onblur="if(this.value == '') { this.value ='password'; }"
                  onfocus="if(this.value =='password') { this.value = ''; }"
                />
              </li>
              <li><a href="#" class="wm-forgot-btn">Forgot Password?</a></li>
              <li><input type="submit" value="Sign In" /></li>
            </ul>
          </form>
          <span class="wm-color">or try our socials</span>
          <ul class="wm-login-social-media">
            <li>
              <a href="#"><i class="wmicon-social5"></i> Facebook</a>
            </li>
            <li class="wm-twitter-color">
              <a href="#"><i class="wmicon-social4"></i> twitter</a>
            </li>
            <li class="wm-googleplus-color">
              <a href="#"><i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
          </ul>
          <p>Not a member yet? <a href="#">Sign-up Now!</a></p>
        </div>
        <div class="wm-modallogin-form wm-register-popup">
          <span class="wm-color">create Your Account today</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Your Username"
                  onblur="if(this.value == '') { this.value ='Your Username'; }"
                  onfocus="if(this.value =='Your Username') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="text"
                  value="Your E-mail"
                  onblur="if(this.value == '') { this.value ='Your E-mail'; }"
                  onfocus="if(this.value =='Your E-mail') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="password"
                  value="password"
                  onblur="if(this.value == '') { this.value ='password'; }"
                  onfocus="if(this.value =='password') { this.value = ''; }"
                />
              </li>
              <li>
                <input
                  type="text"
                  value="Confirm Password"
                  onblur="if(this.value == '') { this.value ='Confirm Password'; }"
                  onfocus="if(this.value =='Confirm Password') { this.value = ''; }"
                />
              </li>
              <li><input type="submit" value="Create Account" /></li>
            </ul>
          </form>
          <span class="wm-color">or signup with your socials:</span>
          <ul class="wm-login-social-media">
            <li>
              <a href="#"><i class="wmicon-social5"></i> Facebook</a>
            </li>
            <li class="wm-twitter-color">
              <a href="#"><i class="wmicon-social4"></i> twitter</a>
            </li>
            <li class="wm-googleplus-color">
              <a href="#"><i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
          </ul>
          <p>Already a member? <a href="#">Sign-in Here!</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="modal fade" id="ModalSearch" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="wm-modallogin-form">
          <span class="wm-color">Search Your KeyWord</span>
          <form>
            <ul>
              <li>
                <input
                  type="text"
                  value="Keywords..."
                  onblur="if(this.value == '') { this.value ='Keywords...'; }"
                  onfocus="if(this.value =='Keywords...') { this.value = ''; }"
                />
              </li>
              <li><input type="submit" value="Search" /></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
